# Src files
/src/app.css
/src/vite-env.d.ts

# Test, Build, Data
node_modules
public

dist
dist-ssr

# Config files
/config
.eslintrc.cjs
postcss.config.js
svelte.config.js
tailwind.config.js
vite.config.ts